<p id="notice"><%= notice %></p>

<p>
  <strong>Assignbenefit:</strong>
  <%= @logbenefit.assignbenefit %>
</p>

<%= link_to 'Edit', edit_logbenefit_path(@logbenefit) %> |
<%= link_to 'Back', logbenefits_path %>
