<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @areabenefit.nombre %>
</p>

<%= link_to 'Editar', edit_areabenefit_path(@areabenefit) %> |
<%= link_to 'Volver', areabenefits_path %>
