<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @centrocosto.codigo %>
</p>

<%= link_to 'Edit', edit_centrocosto_path(@centrocosto) %> |
<%= link_to 'Back', centrocostos_path %>
